APP_NAME=vnstock-agent
DEBUG=false
LOG_LEVEL=INFO
LOGGER_TYPE=logxide
PROVIDER=ollama
OLLAMA_BASE_URL=http://localhost:11434/v1
OLLAMA_MODEL=gpt-oss:120b-cloud
MARKET_DATA_PROVIDER=vnstock
VNSTOCK_SOURCE=VCI
